---
author: mestew
ms.author: mstewart
manager: bpardi
ms.service: windows-client
ms.subservice: itpro-fundamentals
ms.topic: include
ms.date: 06/25/2025
ms.localizationpriority: medium
---
<!-- This file is used multiple times in release-cycle.md. Headings are driven by article context. 10199962-->

## Detailed Test Results

To ensure transparency, we have listed the tested devices and their results. Access the reports through the links below. Some results are based on Microsoft-commissioned testing performed by a third party before the Windows Performance Lab was developed at Microsoft.

[Acer® Detailed Test Results](../acer-detailed-test-results.md)

[ASUS® Detailed Test Results](../asus-detailed-test-results.md)

[Dell® Technologies Detailed Test Results](../dell-detailed-test-results.md)

[HP® Detailed Test Results](../hp-detailed-test-results.md)

[Lenovo® Detailed Test Results](../lenovo-detailed-test-results.md)

[Microsoft Surface Detailed Test Results](../microsoft-surface-detailed-test-results.md)

[Samsung® Detailed Test Results](../samsung-detailed-test-results.md)
