---
title: Acer® Detailed Test Results
description: Resources and details for Acer® device performance testing.
ms.date: 06/27/2025
ms.service: windows-client
ms.subservice: itpro-fundamentals
ms.localizationpriority: medium
author: mestew
ms.author: mstewart
manager: bpardi
ms.topic: reference
ms.collection:
  - tier3
appliesto:
  - ✅ <a href="https://learn.microsoft.com/windows/release-health/supported-versions-windows-client" target="_blank">Windows 11</a>
---

# Acer® Detailed Test Results

| **Device** | **Processor** | **Cinebench® R24 MT** | **Source** | **Date** |
|---|---|---|---|---|
| **Acer® Swift Go 14 AI** | Snapdragon© X Plus 8c | 751 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Acer® Swift 14 AI** | Intel© Core™ Ultra 9 288V | 537 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **Acer® Swift Go 14 AI** | Snapdragon© X Plus 8c | 816 | Windows Performance Lab | April 2025 |
| **Acer® Swift 14 AI** | Intel© Core™ Ultra 9 288V | 591 | Windows Performance Lab | April 2025 |

| **Device**| **Processor** | **Geekbench® 6 MT** | **Source** | **Date** |
|---|---|---|---|---|
| **Acer® Aspire Vero 16** | Intel© Core™ Ultra 5 125U | 7435.6 | Microsoft | December 2024 |

| **Device** | **Processor** | **Procyon® Office (multi-platform)** | **Source** | **Date** |
|---|---|---|---|---|
| **Acer® Swift Go 14 AI** | Snapdragon© X Plus 8c | 225,000.0 | Principled Technologies | February 2024 |
| **Acer® Swift 14 AI** | Intel© Core™ Ultra 9 288V | 272,000.0 | Principled Technologies | September 2024 |

| **Device**| **Processor** | **Procyon® Office (Windows platform)** | **Source** | **Date** |
|---|---|---|---|---|
| **Acer® Aspire Vero 16** | Intel© Core™ Ultra 5 125U | 4380.6 | Windows Performance Lab | December 2024 |

| **Device**| **Processor** | **Speedometer** | **Source** | **Date** |
|---|---|---|---|---|
| **Acer® Aspire Vero 16** | Intel© Core™ Ultra 5 125U | 18.60 | Windows Performance Lab | December 2024 |

| **Device** | **Processor** | **Procyon® AI** | **Source** | **Date** |
|---|---|---|---|---|
| **Acer® Swift Go 14 AI** | Snapdragon© X Plus 8c | 1,759.3 | Principled Technologies | February 2024 |
| **Acer® Swift 14 AI** | Intel© Core™ Ultra 9 288V | 1,465.3 | Principled Technologies | September 2024 |
| **Acer® Swift Go 14 AI** | Snapdragon© X Plus 8c | 1,764 | Windows Performance Lab | April 2025 |
| **Acer® Swift 14 AI** | Intel© Core™ Ultra 9 288V | 1,614 | Windows Performance Lab | April 2025 |

| **Device**| **Processor** | **3DMark® Steel Nomad - Raw Score - High Performance** | **Source** | **Date** |
|---|---|---|---|---|
| **Acer® Swift AI** | Intel© Core™ Ultra 7 256V | 643.00 | Windows Performance Lab | April 2025 |

| **Device**| **Processor** | **War Thunder® Avg FPS** | **Source** | **Date** |
|---|---|---|---|---|
| **Acer® Swift AI** | Intel© Core™ Ultra 7 256V | 59.43 | Windows Performance Lab | April 2025 |

| **Device**| **Processor** | **War Thunder® Score Avg** | **Source** | **Date** |
|---|---|---|---|---|
| **Acer® Swift AI** | Intel© Core™ Ultra 7 256V | 2,443.33 | Windows Performance Lab | April 2025 |

| **Device**| **Processor** | **World of Tanks® Avg FPS** | **Source** | **Date** |
|---|---|---|---|---|
| **Acer® Swift AI** | Intel© Core™ Ultra 7 256V | 39.97 | Windows Performance Lab | April 2025 |

| **Device**| **Processor** | **Windows ADK Battery Life test - Web Browsing** | **Source** | **Date** |
|---|---|---|---|---|
| **Acer® Swift 14 AI** | Intel© Core™ Ultra 9 288V | 10.93 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **Acer® Swift Go 14 AI** | Snapdragon© X Plus 8c | 17.48 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |

| **Device**| **Processor** | **Windows ADK Battery Life test - Local Video Playback** | **Source** | **Date** |
|---|---|---|---|---|
| **Acer® Swift 14 AI** | Intel© Core™ Ultra 9 288V | 15.72 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **Acer® Swift Go 14 AI** | Snapdragon© X Plus 8c | 20.23 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **Acer® Aspire Vero 16** | Intel© Core™ Ultra 5 125U | 17.05 | Windows Performance Lab | December 2024 |

| **Device**| **Processor** | **Memory** | **Storage** | **Civilization VI® Avg Frame Time** | **Date** |
|---|---|---|---|---|---|
| **Acer® Swift AI** | Intel© Core™ Ultra 7 256V | 32 GB | 1000 GB | 20.4 | April 2025 |

| **Device**| **Processor** | **Memory** | **Storage** | **PCMark Gaming Battery Life (minutes)** | **Date** |
|---|---|---|---|---|---|
| **Acer® Swift AI** | Intel© Core™ Ultra 7 256V | 32 GB | 1000 GB | 135 | April 2025 |