---
title: Dell® Technologies Detailed Test Results
description: Resources and details for Dell® Technologies device performance testing.
ms.date: 06/27/2025
ms.service: windows-client
ms.subservice: itpro-fundamentals
ms.localizationpriority: medium
author: mestew
ms.author: mstewart
manager: bpardi
ms.topic: reference
ms.collection:
  - tier3
appliesto:
  - ✅ <a href="https://learn.microsoft.com/windows/release-health/supported-versions-windows-client" target="_blank">Windows 11</a>
---

# Dell® Technologies Detailed Test Results

| **Device**| **Processor** | **Cinebench® R24 MT** | **Source** | **Date** |
|---|---|---|---|---|
| **Dell® Inspiron 15" 7000 2-in-1** | Intel© Core™ i7-8565U | 199.7 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Inspiron 13" 5000 2-in-1** | Intel© Core™ i5-8250U | 165.0 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® XPS 13" 9365 2-in-1** | Intel© Core™ i5-8200Y | 68.0 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Inspiron 15"** | Intel© Core™ i5-1155G7 | 211.0 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Inspiron 15"** | Intel© Core™ i5-1155G7 | 219.0 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Latitude 7400** | Intel© Core™ i7-8665U | 194.7 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Latitude 5400** | Intel© Core™ i5-8365U | 185.0 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Inspiron Plus 7441** | Snapdragon X<br>Plus 10c | 794.3 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Latitude 7455** | Snapdragon X<br>Plus 10c | 709.7 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Latitude 7455** | Snapdragon© X Elite | 744.3 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® XPS 13 9345** | Snapdragon© X Plus 10c | 812.7 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® XPS 13 9345** | Snapdragon© X Elite | 943.3 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Latitude 5445** | Snapdragon X<br>Plus 8c | 701.0 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **Dell® Inspiron 5441** | Snapdragon X<br>Plus 8c | 751.3 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **Dell® Latitude 5455** | Snapdragon X<br>Plus 8c | 737 | Windows Performance Lab | April 2025 |
| **Dell® Inspiron 14 5441** | Snapdragon X<br>Plus 8c | 672 | Windows Performance Lab | April 2025 |
| **Dell® XPS 13 9350** | Intel© Core™ Ultra 7 258V | 506 | Windows Performance Lab | April 2025 |
| **Dell® XPS 13 9345** | Snapdragon© X Elite | 817 | Windows Performance Lab | April 2025 |
| **Dell® 16 Plus** | Intel© Core™ Ultra 9 288V | 488 | Windows Performance Lab | April 2025 |

| **Device**| **Processor** | **Geekbench® 6 MT** | **Source** | **Date** |
|---|---|---|---|---|
| **Dell® Inspiron 7590** | Intel© Core™ i7-8565U | 3,651 | Windows Performance Lab | December 2024 |
| **Dell® Inspiron 3580** | Intel© Core™ i7-8565U | 3,432 | Windows Performance Lab | December 2024 |
| **Dell® XPS 13** | Intel© Core™ i5-8200Y | 1,590 | Windows Performance Lab | December 2024 |
| **Dell® Inspiron 5379** | Intel© Core™ i5-8250U | 3,082 | Windows Performance Lab | December 2024 |
| **Dell® Inspiron 7300** | Intel© Core™ i5-10210U | 4,142 | Windows Performance Lab | December 2024 |
| **Dell® Inspiron 7353** | Intel© Core™ i3-6100U | 1,640 | Windows Performance Lab | December 2024 |
| **Dell® XPS 13** | Intel© Core™ i5-6200U | 2,034 | Windows Performance Lab | December 2024 |
| **Dell® Inspiron 7430** | Intel© Core™ i7-1355U | 8,637 | Windows Performance Lab | December 2024 |

| **Device**| **Processor** | **Procyon® Office (multi-platform)** | **Source** | **Date** |
|---|---|---|---|---|
| **Dell® Inspiron Plus 7441** | Snapdragon X<br>Plus 10c | 223,333.3 | Principled Technologies | February 2024 |
| **Dell® Latitude 7455** | Snapdragon X<br>Plus 10c | 223,000.0 | Principled Technologies | February 2024 |
| **Dell® Latitude 7455** | Snapdragon© X Elite | 237,333.3 | Principled Technologies | February 2024 |
| **Dell® XPS 13 9345** | Snapdragon© X Plus 10c | 216,333.3 | Principled Technologies | February 2024 |
| **Dell® XPS 13 9345** | Snapdragon© X Elite | 233,333.3 | Principled Technologies | February 2024 |
| **Dell® Latitude 5445** | Snapdragon X<br>Plus 8c | 232,000.0 | Principled Technologies | September 2024 |
| **Dell® Inspiron 5441** | Snapdragon X<br>Plus 8c | 232,666.7 | Principled Technologies | September 2024 |

| **Device**| **Processor** | **Procyon® Office (Windows platform)** | **Source** | **Date** |
|---|---|---|---|---|
| **Dell® Inspiron 7590** | Intel© Core™ i7-8565U | 3,017.3 | Windows Performance Lab | December 2024 |
| **Dell® Inspiron 3580** | Intel© Core™ i7-8565U | 3,060.3 | Windows Performance Lab | December 2024 |
| **Dell® XPS 13** | Intel© Core™ i5-8200Y | 2,504.7 | Windows Performance Lab | December 2024 |
| **Dell® Inspiron 5379** | Intel© Core™ i5-8250U | 2,760.7 | Windows Performance Lab | December 2024 |
| **Dell® Inspiron 7300** | Intel© Core™ i5-10210U | 3,839.7 | Windows Performance Lab | December 2024 |
| **Dell® Inspiron 7353** | Intel© Core™ i3-6100U | 1,991.0 | Windows Performance Lab | December 2024 |
| **Dell® Inspiron 7430** | Intel© Core™ i7-1355U | 5,754.0 | Windows Performance Lab | December 2024 |

| **Device**| **Processor** | **Speedometer** | **Source** | **Date** |
|---|---|---|---|---|
| **Dell® Inspiron Plus 7441** | Snapdragon X<br>Plus 10c | 10.73 | Principled Technologies | February 2024 |
| **Dell® Latitude 7455** | Snapdragon X<br>Plus 10c | 12.80 | Principled Technologies | February 2024 |
| **Dell® Latitude 7455** | Snapdragon© X Elite | 7.08 | Principled Technologies | February 2024 |
| **Dell® XPS 13 9345** | Snapdragon© X Plus 10c | 9.75 | Principled Technologies | February 2024 |
| **Dell® XPS 13 9345** | Snapdragon© X Elite | 10.30 | Principled Technologies | February 2024 |
| **Dell® Latitude 5445** | Snapdragon X<br>Plus 8c | 6.11 | Principled Technologies | September 2024 |
| **Dell® Inspiron 5441** | Snapdragon X<br>Plus 8c | 6.95 | Principled Technologies | September 2024 |

| **Device**| **Processor** | **Procyon® AI** | **Source** | **Date** |
|---|---|---|---|---|
| **Dell® Inspiron Plus 7441** | Snapdragon X<br>Plus 10c | 1,698.7 | Principled Technologies | February 2024 |
| **Dell® Latitude 7455** | Snapdragon X<br>Plus 10c | 1,706.7 | Principled Technologies | February 2024 |
| **Dell® Latitude 7455** | Snapdragon© X Elite | 1,734.3 | Principled Technologies | February 2024 |
| **Dell® XPS 13 9345** | Snapdragon© X Plus 10c | 1,717.7 | Principled Technologies | February 2024 |
| **Dell® XPS 13 9345** | Snapdragon© X Elite | 1,695.7 | Principled Technologies | February 2024 |
| **Dell® Latitude 5445** | Snapdragon X<br>Plus 8c | 1,728.0 | Principled Technologies | September 2024 |
| **Dell® Inspiron 5441** | Snapdragon X<br>Plus 8c | 1,711.0 | Principled Technologies | September 2024 |
| **Dell® Latitude 5455** | Snapdragon X<br>Plus 8c | 1,761 | Windows Performance Lab | April 2025 |
| **Dell® Inspiron 14 5441** | Snapdragon X<br>Plus 8c | 1,751 | Windows Performance Lab | April 2025 |
| **Dell® XPS 13 9350** | Intel© Core™ Ultra 7 258V | 1,709 | Windows Performance Lab | April 2025 |
| **Dell® XPS 13 9345** | Snapdragon© X Elite | 1,658 | Windows Performance Lab | April 2025 |
| **Dell® 16 Plus** | Intel© Core™ Ultra 9 288V | 1,653 | Windows Performance Lab | April 2025 |

| **Device**| **Processor** | **Windows ADK Battery Life test - Web Browsing** | **Source** | **Date** |
|---|---|---|---|---|
| **Dell® Inspiron 15" 7000 2-in-1** | Intel© Core™ i7-8565U | 6.05 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Inspiron 13" 5000 2-in-1** | Intel© Core™ i5-8250U | 5.91 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® XPS 13" 9365 2-in-1** | Intel© Core™ i5-8200Y | 5.62 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Inspiron 15"** | Intel© Core™ i5-1155G7 | 5.79 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Inspiron 15"** | Intel© Core™ i5-1155G7 | 5.30 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Latitude 7400** | Intel© Core™ i7-8665U | 8.17 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Latitude 5400** | Intel© Core™ i5-8365U | 11.31 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Inspiron Plus 7441** | Snapdragon X<br>Plus 10c | 13.68 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Latitude 7455** | Snapdragon X<br>Plus 10c | 13.21 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Latitude 7455** | Snapdragon© X Elite | 11.99 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® XPS 13 9345** | Snapdragon© X Elite | 9.63 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® XPS 13 9345** | Snapdragon X<br>Plus 10c | 15.79 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Latitude 5445** | Snapdragon X<br>Plus 8c | 14.03 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **Dell® Inspiron 5441** | Snapdragon X<br>Plus 8c | 15.32 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |

| **Device**| **Processor** | **Windows ADK Battery Life test - Local Video Playback** | **Source** | **Date** |
|---|---|---|---|---|
| **Dell® Inspiron 15" 7000 2-in-1** | Intel© Core™ i7-8565U | 8.72 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Inspiron 13" 5000 2-in-1** | Intel© Core™ i5-8250U | 6.77 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® XPS 13" 9365 2-in-1** | Intel© Core™ i5-8200Y | 7.63 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Inspiron 15"** | Intel© Core™ i5-1155G7 | 8.18 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Inspiron 15"** | Intel© Core™ i5-1155G7 | 8.04 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Latitude 7400** | Intel© Core™ i7-8665U | 12.58 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Latitude 5400** | Intel© Core™ i5-8365U | 15.64 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Inspiron Plus 7441** | Snapdragon X<br>Plus 10c | 15.53 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Latitude 7455** | Snapdragon X<br>Plus 10c | 13.62 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Latitude 7455** | Snapdragon© X Elite | 13.06 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® XPS 13 9345** | Snapdragon© X Elite | 20.93 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® XPS 13 9345** | Snapdragon X<br>Plus 10c | 13.72 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Dell® Latitude 5445** | Snapdragon X<br>Plus 8c | 16.94 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **Dell® Inspiron 5441** | Snapdragon X<br>Plus 8c | 17.91 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **Dell® Inspiron 7590** | Intel© Core™ i7-8565U | 9.45 | Windows Performance Lab | December 2024 |
| **Dell® Inspiron 3580** | Intel© Core™ i7-8565U | 5.15 | Windows Performance Lab | December 2024 |
| **Dell® XPS 13** | Intel© Core™ i5-8200Y | 9.27 | Windows Performance Lab | December 2024 |
| **Dell® Inspiron 5379** | Intel© Core™ i5-8250U | 6.56 | Windows Performance Lab | December 2024 |
| **Dell® Inspiron 7300** | Intel© Core™ i5-10210U | 15.77 | Windows Performance Lab | December 2024 |
| **Dell® Inspiron 7353** | Intel© Core™ i3-6100U | 6.90 | Windows Performance Lab | December 2024 |
| **Dell® XPS 13** | Intel© Core™ i5-6200U | 6.76 | Windows Performance Lab | December 2024 |
| **Dell® Inspiron 7430** | Intel© Core™ i7-1355U | 15.12 | Windows Performance Lab | December 2024 |
