---
title: HP® Detailed Test Results
description: Resources and details for HP® device performance testing.
ms.date: 06/27/2025
ms.service: windows-client
ms.subservice: itpro-fundamentals
ms.localizationpriority: medium
author: mestew
ms.author: mstewart
manager: bpardi
ms.topic: reference
ms.collection:
  - tier3
appliesto:
  - ✅ <a href="https://learn.microsoft.com/windows/release-health/supported-versions-windows-client" target="_blank">Windows 11</a>
---

# HP® Detailed Test Results

| **Device**| **Processor** | **Cinebench® R24 MT** | **Source** | **Date** |
|---|---|---|---|---|
| **HP® Spectre x360 Convertible** | Intel© Core™ i7-8750H | 242.3 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® ENVY x360 Convertible** | Intel© Core™ i7-1260P | 421.0 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® Laptop 15** | Intel© Core™ i5-1135G7 | 216.3 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® Pavilion 15** | Intel© Core™ i5-8265U | 151.3 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® EliteBook 840 G6** | Intel© Core™ i7-8665U | 155.0 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® EliteBook 840 G6** | Intel© Core™ i7-8665U | 147.7 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® ProBook 450 G6** | Intel© Core™ i5-8265U | 197.7 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® ProBook 450 G6** | Intel© Core™ i5-8265U | 193.7 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® EliteBook 850 G5** | Intel© Core™ i5-8350U | 189.0 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® EliteBook 850 G5** | Intel© Core™ i5-8350U | 193.7 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® OmniBook X 14"** | Snapdragon© X Elite | 850.3 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® OmniBook X 14"** | Snapdragon© X Elite | 865.3 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **OmniBook Ultra Flip Laptop** | Intel© Core™ Ultra 7 268V | 543.7 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **HP® Spectre Laptop 14** | AMD Ryzen™ AI 9 365 | 841.3 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **HP® OmniBook Ultra 14** | AMD Ryzen™ AI 9 HX 375 | 965.0 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **HP® OmniBook Ultra 14** | AMD Ryzen™ AI 9 365 | 863 | Windows Performance Lab | April 2025 |
| **HP® OmniBook X 14"** | Snapdragon© X Elite | 854 | Windows Performance Lab | April 2025 |
| **HP® OmniBook X 14"** | Snapdragon© X Plus 8c | 651 | Windows Performance Lab | April 2025 |
| **HP® OmniBook Ultra Flip 14** | Intel© Core™ Ultra 7 268V | 573 | Windows Performance Lab | April 2025 |

| **Device**| **Processor** | **Geekbench® 6 MT** | **Source** | **Date** |
|---|---|---|---|---|
| **HP® Envyx360** | Intel© Core™ i7-1065G7 | 4,022 | Windows Performance Lab | December 2024 |
| **HP® Laptop 15** | Intel© Core™ i5-1135G7 | 4,891 | Windows Performance Lab | December 2024 |
| **HP® Spectre x360** | Intel© Core™ i7-8750H | 4,797 | Windows Performance Lab | December 2024 |
| **HP® Envy x360** | Intel© Core™ 7 150U | 7,705 | Windows Performance Lab | December 2024 |
| **HP® Laptop 15** | Intel© Core™ i3-1215U | 5,811 | Windows Performance Lab | December 2024 |
| **HP® Pavilion Laptop 15** | Intel© Core™ i5-1335U | 7,736 | Windows Performance Lab | December 2024 |

| **Device**| **Processor** | **Procyon® Office (multi-platform)** | **Source** | **Date** |
|---|---|---|---|---|
| **HP® OmniBook X 14"** | Snapdragon© X Elite | 220,000.0 | Principled Technologies | February 2024 |
| **HP® OmniBook X 14"** | Snapdragon© X Elite | 214,000.0 | Principled Technologies | February 2024 |
| **OmniBook Ultra Flip Laptop** | Intel© Core™ Ultra 7 268V | 271,000.0 | Principled Technologies | September 2024 |
| **HP® Spectre Laptop 14** | AMD Ryzen™ AI 9 365 | 258,333.3 | Principled Technologies | September 2024 |
| **HP® OmniBook Ultra 14** | AMD Ryzen™ AI 9 HX 375 | 267,000.0 | Principled Technologies | September 2024 |

| **Device**| **Processor** | **Procyon® Office (Windows platform)** | **Source** | **Date** |
|---|---|---|---|---|
| **HP® Envyx360** | Intel© Core™ i7-1065G7 | 3,783.3 | Windows Performance Lab | December 2024 |
| **HP® Laptop 15** | Intel© Core™ i5-1135G7 | 4,219.0 | Windows Performance Lab | December 2024 |
| **HP® Spectre x360** | Intel© Core™ i7-8750H | 3,376.3 | Windows Performance Lab | December 2024 |
| **HP® Envy x360** | Intel© Core™ 7 150U | 5,073.0 | Windows Performance Lab | December 2024 |
| **HP® Laptop 15** | Intel© Core™ i3-1215U | 4,680.3 | Windows Performance Lab | December 2024 |
| **HP® Pavilion Laptop 15** | Intel© Core™ i5-1335U | 5,280.3 | Windows Performance Lab | December 2024 |

| **Device**| **Processor** | **Speedometer** | **Source** | **Date** |
|---|---|---|---|---|
| **HP® Envyx360** | Intel© Core™ i7-1065G7 | 12.77 | Windows Performance Lab | December 2024 |
| **HP® Laptop 15** | Intel© Core™ i5-1135G7 | 17.10 | Windows Performance Lab | December 2024 |
| **HP® Spectre x360** | Intel© Core™ i7-8750H | 13.47 | Windows Performance Lab | December 2024 |
| **HP® Envy x360** | Intel© Core™ 7 150U | 16.77 | Windows Performance Lab | December 2024 |
| **HP® Laptop 15** | Intel© Core™ i3-1215U | 20.53 | Windows Performance Lab | December 2024 |
| **HP® Pavilion Laptop 15** | Intel© Core™ i5-1335U | 17.60 | Windows Performance Lab | December 2024 |

| **Device**| **Processor** | **Procyon® AI** | **Source** | **Date** |
|---|---|---|---|---|
| **HP® OmniBook X 14"** | Snapdragon© X Elite | 1,716.7 | Principled Technologies | February 2024 |
| **HP® OmniBook X 14"** | Snapdragon© X Elite | 1,674.3 | Principled Technologies | February 2024 |
| **OmniBook Ultra Flip Laptop** | Intel© Core™ Ultra 7 268V | 1,785.7 | Principled Technologies | September 2024 |
| **HP® OmniBook Ultra 14** | AMD Ryzen™ AI 9 365 | 1,662 | Windows Performance Lab | April 2025 |
| **HP® OmniBook X 14"** | Snapdragon© X Elite | 1,746 | Windows Performance Lab | April 2025 |
| **HP® OmniBook X 14"** | Snapdragon© X Plus 8c | 1,746 | Windows Performance Lab | April 2025 |
| **HP® OmniBook Ultra Flip 14** | Intel© Core™ Ultra 7 268V | 1,629 | Windows Performance Lab | April 2025 |

| **Device**| **Processor** | **3DMark® Steel Nomad - Raw Score - High Performance** | **Source** | **Date** |
|---|---|---|---|---|
| **HP® Omnibook Ultra** | AMD Ryzen™ AI 9 365 w/ Radeon 880M | 429.00 | Windows Performance Lab | April 2025 |
| **HP® Envy X360** | Intel© Core™ i7-1065G7 CPU @ 1.30GHz | 113.00 | Windows Performance Lab | April 2025 |
| **HP® Pavilion** | Intel© Core™ i7-1065G7 CPU @ 1.30GHz | 126.00 | Windows Performance Lab | April 2025 |
| **HP® Envy** | Intel© Core™ i7-1065G7 CPU @ 1.30GHz | 128.50 | Windows Performance Lab | April 2025 |
| **HP® 15** | AMD Ryzen™ 7 7730U with Radeon Graphics | 208.50 | Windows Performance Lab | April 2025 |

| **Device**| **Processor** | **War Thunder® Avg FPS** | **Source** | **Date** |
|---|---|---|---|---|
| **HP® Omnibook Ultra** | AMD Ryzen™ AI 9 365 w/ Radeon 880M | 86.43 | Windows Performance Lab | April 2025 |
| **HP® Envy X360** | Intel© Core™ i7-1065G7 CPU @ 1.30GHz | 53.23 | Windows Performance Lab | April 2025 |
| **HP® Pavilion** | Intel© Core™ i7-1065G7 CPU @ 1.30GHz | 58.47 | Windows Performance Lab | April 2025 |
| **HP® Envy** | Intel© Core™ i7-1065G7 CPU @ 1.30GHz | 52.53 | Windows Performance Lab | April 2025 |
| **HP® Envy x360** | AMD Ryzen™ 7 7730U with Radeon Graphics | 50.73 | Windows Performance Lab | April 2025 |
| **HP® 15** | AMD Ryzen™ 7 7730U with Radeon Graphics | 92.73 | Windows Performance Lab | April 2025 |

| **Device**| **Processor** | **War Thunder® Score Avg** | **Source** | **Date** |
|---|---|---|---|---|
| **HP® Omnibook Ultra** | AMD Ryzen™ AI 9 365 w/ Radeon 880M | 3,551.67 | Windows Performance Lab | April 2025 |
| **HP® Envy X360** | Intel© Core™ i7-1065G7 CPU @ 1.30GHz | 2,187.00 | Windows Performance Lab | April 2025 |
| **HP® Pavilion** | Intel© Core™ i7-1065G7 CPU @ 1.30GHz | 2,401.67 | Windows Performance Lab | April 2025 |
| **HP® Envy** | Intel© Core™ i7-1065G7 CPU @ 1.30GHz | 2,158.67 | Windows Performance Lab | April 2025 |
| **HP® Envy x360** | AMD Ryzen™ 7 7730U with Radeon Graphics | 2,083.00 | Windows Performance Lab | April 2025 |
| **HP® 15** | AMD Ryzen™ 7 7730U with Radeon Graphics | 3,810.00 | Windows Performance Lab | April 2025 |

| **Device**| **Processor** | **World of Tanks® Avg FPS** | **Source** | **Date** |
|---|---|---|---|---|
| **HP® Omnibook Ultra** | AMD Ryzen™ AI 9 36582.67 | Windows Performance Lab | April 2025 |
| **HP® Envy X360** | Intel© Core™ i7-1065G7 CPU @ 1.30GHz | 36.10 | Windows Performance Lab | April 2025 |
| **HP® Pavilion** | Intel© Core™ i7-1065G7 CPU @ 1.30GHz | 34.10 | Windows Performance Lab | April 2025 |
| **HP® Envy** | Intel© Core™ i7-1065G7 CPU @ 1.30GHz | 31.63 | Windows Performance Lab | April 2025 |
| **HP® Envy x360** | AMD Ryzen™ 7 7730U with Radeon Graphics | 34.53 | Windows Performance Lab | April 2025 |
| **HP® 15** | AMD Ryzen™ 7 7730U with Radeon Graphics | 52.10 | Windows Performance Lab | April 2025 |

| **Device**| **Processor** | **Windows ADK Battery Life test - Web Browsing** | **Source** | **Date** |
|---|---|---|---|---|
| **HP® Spectre x360 Convertible** | Intel© Core™ i7-8750H | 6.08 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® ENVY x360 Convertible** | Intel© Core™ i7-1260P | 6.92 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® Laptop 15** | Intel© Core™ i5-1135G7 | 4.87 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® Pavilion 15** | Intel© Core™ i5-8265U | 5.87 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® EliteBook 840 G6** | Intel© Core™ i7-8665U | 4.07 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® EliteBook 840 G6** | Intel© Core™ i7-8665U | 5.51 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® ProBook 450 G6** | Intel© Core™ i5-8265U | 5.71 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® ProBook 450 G6** | Intel© Core™ i5-8265U | 4.14 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® EliteBook 850 G5** | Intel© Core™ i5-8350U | 4.15 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® EliteBook 850 G5** | Intel© Core™ i5-8350U | 3.41 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® OmniBook X 14"** | Snapdragon© X Elite | 14.46 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® OmniBook X 14"** | Snapdragon© X Elite | 14.52 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **OmniBook Ultra Flip Laptop** | Intel© Core™ Ultra 7 268V | 13.46 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **HP® Spectre Laptop 14** | AMD Ryzen™ AI 9 365 | 9.69 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **HP® OmniBook Ultra 14** | AMD Ryzen™ AI 9 HX 375 | 11.08 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |

| **Device**| **Processor** | **Windows ADK Battery Life test - Local Video Playback** | **Source** | **Date** |
|---|---|---|---|---|
| **HP® Spectre x360 Convertible** | Intel© Core™ i7-8750H | 11.22 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® ENVY x360 Convertible** | Intel© Core™ i7-1260P | 11.34 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® Laptop 15** | Intel© Core™ i5-1135G7 | 6.71 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® Pavilion 15** | Intel© Core™ i5-8265U | 7.70 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® EliteBook 840 G6** | Intel© Core™ i7-8665U | 5.86 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® EliteBook 840 G6** | Intel© Core™ i7-8665U | 8.81 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® ProBook 450 G6** | Intel© Core™ i5-8265U | 10.00 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® ProBook 450 G6** | Intel© Core™ i5-8265U | 6.43 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® EliteBook 850 G5** | Intel© Core™ i5-8350U | 7.56 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® EliteBook 850 G5** | Intel© Core™ i5-8350U | 7.19 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® OmniBook X 14"** | Snapdragon© X Elite | 18.55 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **HP® OmniBook X 14"** | Snapdragon© X Elite | 19.13 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **OmniBook Ultra Flip Laptop** | Intel© Core™ Ultra 7 268V | 18.75 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **HP® Spectre Laptop 14** | AMD Ryzen™ AI 9 365 | 14.05 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **HP® OmniBook Ultra 14** | AMD Ryzen™ AI 9 HX 375 | 17.4 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **HP® Envyx360** | Intel© Core™ i7-1065G7 | 9.33 | Windows Performance Lab | December 2024 |
| **HP® Laptop 15** | Intel© Core™ i5-1135G7 | 7.59 | Windows Performance Lab | December 2024 |
| **HP® Spectre x360** | Intel© Core™ i7-8750H | 11.25 | Windows Performance Lab | December 2024 |
| **HP® Envy x360** | Intel© Core™ 7 150U | 7.07 | Windows Performance Lab | December 2024 |
| **HP® Laptop 15** | Intel© Core™ i3-1215U | 10.99 | Windows Performance Lab | December 2024 |
| **HP® Pavilion Laptop 15** | Intel© Core™ i5-1335U | 8.48 | Windows Performance Lab | December 2024 |

| **Device**| **Processor** | **Memory** | **Storage** | **Civilization VI® Avg Frame Time** | **Date** |
|---|---|---|---|---|---|
| **HP® Omnibook Ultra** | AMD Ryzen™ AI 9 365 | 16 GB | 1000 GB | 11.23 | April 2025 |
| **HP® Envyx360** | Intel© Core™ i7-1065G7 | 12 GB | 512 GB | 60.8 | April 2025 |
| **HP® Pavilion Laptop 15** | Intel© Core™ i7-1065G7 | 16 GB | 512 GB | 56.13 | April 2025 |
| **HP® Envy** | Intel© Core™ i7-1065G7 | 8 GB | 256 GB | 58.73 | April 2025 |
| **HP® Envy x360** | AMD Ryzen™ 7 3700U | 16 GB | 1000 GB | 38 | April 2025 |
| **HP® 15** | AMD Ryzen™ 7 3700U | 8 GB | 256 GB | 18.43 | April 2025 |


| **Device**| **Processor** | **Memory** | **Storage** | **PCMark Gaming Battery Life (minutes)** | **Date** |
|---|---|---|---|---|---|
| **HP® Envy x360**  | Intel© Core™ i7-1065G7 | 12 GB | 512 GB | 103 | April 2025 |
| **HP® Envy**  | Intel© Core™ i7-1065G7 | 8 GB | 256 GB | 110 | April 2025 |
| **HP® Envy x360** | AMD Ryzen™ 7 3700U | 16 GB | 1000 GB | 97 | April 2025 |
| **HP® 15** | AMD Ryzen™ 7 3700U | 8 GB | 256 GB | 78 | April 2025 |

