---
title: Lenovo® Detailed Test Results
description: Resources and details for Lenovo® device performance testing.
ms.date: 06/27/2025
ms.service: windows-client
ms.subservice: itpro-fundamentals
ms.localizationpriority: medium
author: mestew
ms.author: mstewart
manager: bpardi
ms.topic: reference
ms.collection:
  - tier3
appliesto:
  - ✅ <a href="https://learn.microsoft.com/windows/release-health/supported-versions-windows-client" target="_blank">Windows 11</a>
---

# Lenovo® Detailed Test Results

| **Device**| **Processor** | **Cinebench® R24 MT** | **Source** | **Date** |
|---|---|---|---|---|
| **Lenovo® IdeaPad 3** | Intel© Core™ i5-1155G7 | 255.3 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® IdeaPad 3** | Intel© Core™ i5-1155G7 | 243.3 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® X1 Carbon** | Intel© Core™ i7-8665U | 216.7 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® ThinkPad E590** | Intel© Core™ i5-8265U | 168.7 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® ThinkPad X1 Yoga Gen3** | Intel© Core™ i5-8250U | 185.7 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® ThinkPad X1 Yoga Gen3** | Intel© Core™ i5-8250U | 195.3 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® ThinkPad**<br>**T480** | Intel© Core™ i7-8650U | 226.0 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® ThinkPad**<br>**T480** | Intel© Core™ i7-8650U | 211.7 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® Yoga Slim 7x14"** | Snapdragon© X Elite | 1,029.7 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® Yoga Slim 7x14"** | Snapdragon© X Elite | 1,033.7 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® ThinkPad T14s Gen 6**<br>**14"** | Snapdragon© X Elite | 817.3 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® ThinkPad T14s Gen 6**<br>**14"** | Snapdragon© X Elite | 823.0 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® Yoga Pro 7** | AMD Ryzen™ AI 9 365 CPU | 1,021.3 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **Lenovo® IdeaPad 5 2-in-1 14Q8X9** | Snapdragon© X Plus 8c | 680.7 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **Lenovo® Yoga Pro 7 14.5"** | AMD Ryzen™ AI 9 365 | 1,020 | Windows Performance Lab | April 2025 |
| **Lenovo® Yoga Slim 7x 14.5"** | Snapdragon© X Elite | 945 | Windows Performance Lab | April 2025 |
| **Lenovo® T14s Gen6** | Snapdragon© X Elite | 729 | Windows Performance Lab | April 2025 |
| **Lenovo® Yoga Slim 7i 15"** | Intel© Core™ Ultra 7 256V | 574 | Windows Performance Lab | April 2025 |

| **Device**| **Processor** | **Geekbench® 6** | **Source** | **Date** |
|---|---|---|---|---|
| **Lenovo® Ideapad Slim 3** | Intel© Core™ i5-1335U | 8,559 | Windows Performance Lab | December 2024 |
| **Lenovo® Ideapad Slim 3** | Intel© Core™ i3-1215U | 4,960 | Windows Performance Lab | December 2024 |
| **Lenovo® Yoga** | Intel© Core™ i7-1065G7 | 5,223 | Windows Performance Lab | December 2024 |

| **Device**| **Processor** | **Procyon® Office (multi-platform)** | **Source** | **Date** |
|---|---|---|---|---|
| **Lenovo® Yoga Slim 7x**<br>**14"** | Snapdragon© X Elite | 227,000.0 | Principled Technologies | February 2024 |
| **Lenovo® Yoga Slim 7x14"** | Snapdragon© X Elite | 224,000.0 | Principled Technologies | February 2024 |
| **Lenovo® ThinkPad T14s Gen 6**<br>**14"** | Snapdragon© X Elite | 234,666.7 | Principled Technologies | February 2024 |
| **Lenovo® ThinkPad T14s Gen 6**<br>**14"** | Snapdragon© X Elite | 215,000.0 | Principled Technologies | February 2024 |
| **Lenovo® Yoga Pro 7 (14ASP9)** | AMD Ryzen™ AI 9 365 CPU | 249,000.0 | Principled Technologies | September 2024 |
| **Lenovo® Yoga Slim 7** | Intel© Core™ Ultra 7 256V | 266,000.0 | Principled Technologies | September 2024 |
| **Lenovo® IdeaPad 5 2-in-1 14Q8X9** | Snapdragon© X Plus 8c | 213,333.3 | Principled Technologies | September 2024 |

| **Device**| **Processor** | **Procyon® Office (Windows platform)** | **Source** | **Date** |
|---|---|---|---|---|
| **Lenovo® Ideapad Slim 3** | Intel© Core™ i5-1335U | 4,932.7 | Windows Performance Lab | December 2024 |
| **Lenovo® Ideapad Slim 3** | Intel© Core™ i3-1215U | 4,206.0 | Windows Performance Lab | December 2024 |
| **Lenovo® Yoga** | Intel© Core™ i7-1065G7 | 4,523.3 | Windows Performance Lab | December 2024 |

| **Device**| **Processor** | **Speedometer** | **Source** | **Date** |
|---|---|---|---|---|
| **Lenovo® Ideapad Slim 3** | Intel© Core™ i5-1335U | 22.37 | Windows Performance Lab | December 2024 |
| **Lenovo® Ideapad Slim 3** | Intel© Core™ i3-1215U | 18.23 | Windows Performance Lab | December 2024 |
| **Lenovo® Yoga** | Intel© Core™ i7-1065G7 | 15.83 | Windows Performance Lab | December 2024 |

| **Device**| **Processor** | **Procyon® AI** | **Source** | **Date** |
|---|---|---|---|---|
| **Lenovo® Yoga Slim 7x**<br>**14"** | Snapdragon© X Elite | 1,699.7 | Principled Technologies | February 2024 |
| **Lenovo® Yoga Slim 7x14"** | Snapdragon© X Elite | 1,750.7 | Principled Technologies | February 2024 |
| **Lenovo® ThinkPad T14s Gen 6**<br>**14"** | Snapdragon© X Elite | 1,715.0 | Principled Technologies | February 2024 |
| **Lenovo® ThinkPad T14s Gen 6**<br>**14"** | Snapdragon© X Elite | 1,713.7 | Principled Technologies | February 2024 |
| **Lenovo® Yoga Slim 7** | Intel© Core™ Ultra 7 256V | 1,606.7 | Principled Technologies | September 2024 |
| **Lenovo® IdeaPad 5 2-in-1 14Q8X9** | Snapdragon© X Plus 8c | 1,769.3 | Principled Technologies | September 2024 |
| **Lenovo® Yoga Pro 7 14.5"** | AMD Ryzen™ AI 9 365 | 1,701 | Windows Performance Lab | April 2025 |
| **Lenovo® Yoga Slim 7x 14.5"** | Snapdragon© X Elite | 1,752 | Windows Performance Lab | April 2025 |
| **Lenovo® T14s Gen6** | Snapdragon© X Elite | 1,755 | Windows Performance Lab | April 2025 |
| **Lenovo® Yoga Slim 7i 15"** | Intel© Core™ Ultra 7 256V | 1,481 | Windows Performance Lab | April 2025 |

| **Device** | **Processor** | **3DMark® Steel Nomad - Raw Score - High Performance** |  **Source** | **Date** |
|---|---|---|---|---|
| **Lenovo® Yoga Slim 7** | Intel© Core™ Ultra 7 256V | 550.00 | Windows Performance Lab | April 2025 |


| **Device**| **Processor** | **War Thunder® Avg FPS** | **Source** | **Date** |
|---|---|---|---|---|
| **Lenovo® Yoga Slim 7** | Intel© Core™ Ultra 7 256V | 102.13 | Windows Performance Lab | April 2025 |
| **Lenovo® IdeaPad S340** | AMD Ryzen™ 7 3700U with Radeon Vega Mobile Gfx | 35.40 | Windows Performance Lab | April 2025 |

| **Device**| **Processor** | **War Thunder® Score Avg** | **Source** | **Date** |
|---|---|---|---|---|
| **Lenovo® Yoga Slim 7** | Intel© Core™ Ultra 7 256V | 4,195 | Windows Performance Lab | April 2025 |
| **Lenovo® IdeaPad S340** | AMD Ryzen™ 7 3700U with Radeon Vega Mobile Gfx | 1,454.67 | Windows Performance Lab | April 2025 |

| **Device**| **Processor** | **World of Tanks® Avg FPS** | **Source** | **Date** |
|---|---|---|---|---|
| **Lenovo® Yoga Slim 7** | Intel© Core™ Ultra 7 256V | 66.03 | Windows Performance Lab | April 2025 |
| **Lenovo® IdeaPad S340** | AMD Ryzen™ 7 3700U with Radeon Vega Mobile Gfx | 21.87 | Windows Performance Lab | April 2025 |

| **Device**| **Processor** | **Windows ADK Battery Life test - Web Browsing** | **Source** | **Date** |
|---|---|---|---|---|
| **Lenovo® IdeaPad 3** | Intel© Core™ i5-1155G7 | 5.23 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® IdeaPad 3** | Intel© Core™ i5-1155G7 | 5.26 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® X1 Carbon** | Intel© Core™ i7-8665U | 7.56 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® ThinkPad E590** | Intel© Core™ i5-8265U | 5.70 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® ThinkPad X1 Yoga Gen3** | Intel© Core™ i5-8250U | 5.36 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® ThinkPad X1 Yoga Gen3** | Intel© Core™ i5-8250U | 5.16 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® ThinkPad**<br>**T480** | Intel© Core™ i7-8650U | 5.50 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® ThinkPad**<br>**T480** | Intel© Core™ i7-8650U | 5.48 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® Yoga Slim 7x14"** | Snapdragon© X Elite | 12.79 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® Yoga Slim 7x14"** | Snapdragon© X Elite | 12.60 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® ThinkPad T14s Gen 6**<br>**14"** | Snapdragon© X Elite | 17.50 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® ThinkPad T14s Gen 6**<br>**14"** | Snapdragon© X Elite | 11.18 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® Yoga Pro 7** | AMD Ryzen™ AI 9 365 CPU | 9.31 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **Lenovo® IdeaPad 5 2-in-1 14Q8X9** | Snapdragon© X Plus 8c | 13.12 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |

| **Device**| **Processor** | **Windows ADK Battery Life test - Local Video Playback** | **Source** | **Date** |
|---|---|---|---|---|
| **Lenovo® IdeaPad 3** | Intel© Core™ i5-1155G7 | 10.98 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® IdeaPad 3** | Intel© Core™ i5-1155G7 | 11.05 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® X1 Carbon** | Intel© Core™ i7-8665U | 10.49 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® ThinkPad E590** | Intel© Core™ i5-8265U | 9.74 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® ThinkPad X1 Yoga Gen3** | Intel© Core™ i5-8250U | 7.53 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® ThinkPad X1 Yoga Gen3** | Intel© Core™ i5-8250U | 8.46 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® ThinkPad**<br>**T480** | Intel© Core™ i7-8650U | 8.74 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® ThinkPad**<br>**T480** | Intel© Core™ i7-8650U | 8.86 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® Yoga Slim 7x14"** | Snapdragon© X Elite | 18.93 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® Yoga Slim 7x14"** | Snapdragon© X Elite | 19.47 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® ThinkPad T14s Gen 6**<br>**14"** | Snapdragon© X Elite | 20.29 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® ThinkPad T14s Gen 6**<br>**14"** | Snapdragon© X Elite | 15.97 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Lenovo® Yoga Pro 7** | AMD Ryzen™ AI 9 365 CPU | 11.67 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **Lenovo® IdeaPad 5 2-in-1 14Q8X9** | Snapdragon© X Plus 8c | 22.23 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | September 2024 |
| **Lenovo® Ideapad Slim 3** | Intel© Core™ i5-1335U | 14.86 | Windows Performance Lab | December 2024 |
| **Lenovo® Ideapad Slim 3** | Intel© Core™ i3-1215U | 11.22 | Windows Performance Lab | December 2024 |
| **Lenovo® Yoga** | Intel© Core™ i7-1065G7 | 20.13 | Windows Performance Lab | December 2024 |

| **Device**| **Processor** | **Memory** | **Storage** | **Civilization VI® Avg Frame Time** | **Date** |
|---|---|---|---|---|---|
| **Lenovo® Yoga Slim 7** | Intel© Core™ Ultra 7 256V | 16 GB | 512 GB | 11.8 | April 2025 |
| **Lenovo® Yoga Pro 7** | AMD Ryzen™ AI 9 365 CPU | 32 GB | 1000 GB | 11.77 | April 2025 |
| **Lenovo® IdeaPad S340** | AMD Ryzen™ 7 3700U | 16 GB | 256 GB | 53.43 | April 2025 |

| **Device**| **Processor** | **Memory** | **Storage** | **PCMark Gaming Battery Life (minutes)** | **Date** |
|---|---|---|---|---|---|
| **Lenovo® Yoga Slim 7** | Intel© Core™ Ultra 7 256V | 16 GB | 512 GB | 127 | April 2025 |
| **Lenovo® Yoga Pro 7** | AMD Ryzen™ AI 9 365 CPU | 32 GB | 1000 GB | 83 | April 2025 |
| **Lenovo® IdeaPad S340** | AMD Ryzen™ 7 3700U | 16 GB | 256 GB | 127 | April 2025 |