---
title: Microsoft Surface Detailed Test Results
description: Resources and details for Microsoft Surface device performance testing.
ms.date: 06/27/2025
ms.service: windows-client
ms.subservice: itpro-fundamentals
ms.localizationpriority: medium
author: mestew
ms.author: mstewart
manager: bpardi
ms.topic: reference
ms.collection:
  - tier3
appliesto:
  - ✅ <a href="https://learn.microsoft.com/windows/release-health/supported-versions-windows-client" target="_blank">Windows 11</a>
--- 

# Microsoft Surface Detailed Test Results

| **Device**| **Processor** | **Cinebench® R24 MT** | **Source** | **Date** |
|---|---|---|---|---|
| **Microsoft Surface Laptop 3** | Intel© Core™ i7-1065G7 | 208.0 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Microsoft**<br>**Surface Laptop 15"** | Snapdragon© X Elite | 950.0 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Microsoft**<br>**Surface Laptop 13.8"** | Snapdragon X<br>Plus 10c | 784.7 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Microsoft**<br>**Surface Laptop 13.8"** | Snapdragon© X Elite | 889.7 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Microsoft**<br>**Surface Pro** | Snapdragon X<br>Plus 10c | 802.7 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Microsoft**<br>**Surface Pro** | Snapdragon© X Elite | 866.3 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |

| **Device**| **Processor** | **Procyon® Office (multi-platform)** | **Source** | **Date** |
|---|---|---|---|---|
| **Microsoft**<br>**Surface Laptop 15"** | Snapdragon© X Elite | 235,333.3 | Principled Technologies | February 2024 |
| **Microsoft**<br>**Surface Laptop 13.8"** | Snapdragon X<br>Plus 10c | 221,666.7 | Principled Technologies | February 2024 |
| **Microsoft**<br>**Surface Laptop 13.8"** | Snapdragon© X Elite | 235,000.0 | Principled Technologies | February 2024 |
| **Microsoft**<br>**Surface Pro** | Snapdragon X<br>Plus 10c | 218,666.7 | Principled Technologies | February 2024 |
| **Microsoft**<br>**Surface Pro** | Snapdragon© X Elite | 230,000.0 | Principled Technologies | February 2024 |

| **Device**| **Processor** | **Procyon® AI** | **Source** | **Date** |
|---|---|---|---|---|
| **Microsoft**<br>**Surface Laptop 15"** | Snapdragon© X Elite | 1,723.0 | Principled Technologies | February 2024 |
| **Microsoft**<br>**Surface Laptop 13.8"** | Snapdragon X<br>Plus 10c | 1,724.7 | Principled Technologies | February 2024 |
| **Microsoft**<br>**Surface Laptop 13.8"** | Snapdragon© X Elite | 1,721.3 | Principled Technologies | February 2024 |
| **Microsoft**<br>**Surface Pro** | Snapdragon X<br>Plus 10c | 1,721.3 | Principled Technologies | February 2024 |
| **Microsoft**<br>**Surface Pro** | Snapdragon© X Elite | 1,731.3 | Principled Technologies | February 2024 |

| **Device**| **Processor** | **Windows ADK Battery Life test - Web Browsing** | **Source** | **Date** |
|---|---|---|---|---|
| **Microsoft Surface Laptop 3** | Intel© Core™ i7-1065G7 | 6.13 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Microsoft**<br>**Surface Laptop 15"** | Snapdragon© X Elite | 14.17 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Microsoft**<br>**Surface Laptop 13.8"** | Snapdragon X<br>Plus 10c | 13.98 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Microsoft**<br>**Surface Laptop 13.8"** | Snapdragon© X Elite | 13.51 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Microsoft**<br>**Surface Pro** | Snapdragon X<br>Plus 10c | 10.50 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Microsoft**<br>**Surface Pro** | Snapdragon© X Elite | 11.01 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |

| **Device**| **Processor** | **Windows ADK Battery Life test - Local Video Playback** | **Source** | **Date** |
|---|---|---|---|---|
| **Microsoft Surface Laptop 3** | Intel© Core™ i7-1065G7 | 7.77 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Microsoft**<br>**Surface Laptop 15"** | Snapdragon© X Elite | 19.43 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Microsoft**<br>**Surface Laptop 13.8"** | Snapdragon X<br>Plus 10c | 17.42 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Microsoft**<br>**Surface Laptop 13.8"** | Snapdragon© X Elite | 17.67 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Microsoft**<br>**Surface Pro** | Snapdragon X<br>Plus 10c | 13.50 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Microsoft**<br>**Surface Pro** | Snapdragon© X Elite | 15.85 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
