---
title: Samsung® Detailed Test Results
description: Resources and details for Samsung® device performance testing.
ms.date: 06/27/2025
ms.service: windows-client
ms.subservice: itpro-fundamentals
ms.localizationpriority: medium
author: mestew
ms.author: mstewart
manager: bpardi
ms.topic: reference
ms.collection:
  - tier3
appliesto:
  - ✅ <a href="https://learn.microsoft.com/windows/release-health/supported-versions-windows-client" target="_blank">Windows 11</a>
--- 

# Samsung® Detailed Test Results

| **Device**| **Processor** | **Cinebench® R24 MT** | **Source** | **Date** |
|---|---|---|---|---|
| **Samsung® Galaxy Book4 Edge 16"** | Snapdragon© X Elite | 863.7 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Samsung® Galaxy Book4 Edge 16"** | Snapdragon© X Elite | 863.3 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Samsung® Galaxy Book4 Edge 14"** | Snapdragon© X Plus 8c | 690 | Windows Performance Lab | April 2025 |
| **Samsung® Galaxy Book5 Pro 360 16"** | Intel© Core™ Ultra 7 256V | 581 | Windows Performance Lab | April 2025 |

| **Device**| **Processor** | **Geekbench® 6 MT** | **Source** | **Date** |
|---|---|---|---|---|
| **Samsung® Galaxy Book** | Intel© Core™ 7 150U | 8,682 | Windows Performance Lab | December 2024 |

| **Device**| **Processor** | **Procyon® Office (multi-platform)** | **Source** | **Date** |
|---|---|---|---|---|
| **Samsung® Galaxy Book4 Edge 16"** | Snapdragon© X Elite | 187,333.3 | Principled Technologies | February 2024 |
| **Samsung® Galaxy Book4 Edge 16"** | Snapdragon© X Elite | 187,333.3 | Principled Technologies | February 2024 |

| **Device**| **Processor** | **Procyon® Office (Windows platform)** | **Source** | **Date** |
|---|---|---|---|---|
| **Samsung® Galaxy Book** | Intel© Core™ 7 150U | 5,992.0 | Windows Performance Lab | December 2024 |

| **Device**| **Processor** | **Speedometer** | **Source** | **Date** |
|---|---|---|---|---|
| **Samsung® Galaxy Book** | Intel© Core™ 7 150U | 26.93 | Windows Performance Lab | December 2024 |

| **Device**| **Processor** | **Procyon® AI** | **Source** | **Date** |
|---|---|---|---|---|
| **Samsung® Galaxy Book4 Edge 16"** | Snapdragon© X Elite | 1,681.0 | Principled Technologies | February 2024 |
| **Samsung® Galaxy Book4 Edge 16"** | Snapdragon© X Elite | 1,689.3 | Principled Technologies | February 2024 |
| **Samsung® Galaxy Book4 Edge 14"** | Snapdragon© X Plus 8c | 1,732 | Windows Performance Lab | April 2025 |
| **Samsung® Galaxy Book5 Pro 360 16"** | Intel© Core™ Ultra 7 256V | 1,715 | Windows Performance Lab | April 2025 |

| **Device**| **Processor** | **Windows ADK Battery Life test - Web Browsing** | **Source** | **Date** |
|---|---|---|---|---|
| **Samsung® Galaxy Book4 Edge 16"** | Snapdragon© X Elite | 10.07 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Samsung® Galaxy Book4 Edge 16"** | Snapdragon© X Elite | 9.15 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |

| **Device**| **Processor** | **Windows ADK Battery Life test - Local Video Playback** | **Source** | **Date** |
|---|---|---|---|---|
| **Samsung® Galaxy Book4 Edge 16"** | Snapdragon© X Elite | 17.58 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Samsung® Galaxy Book4 Edge 16"** | Snapdragon© X Elite | 17.03 | [Principled Technologies](https://www.principledtechnologies.com/Microsoft/Copilot-plus-PC-performance/) | February 2024 |
| **Samsung® Galaxy Book** | Intel© Core™ 7 150U | 14.11 | Windows Performance Lab | December 2024 |
